<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Boundsoff\BrandNews\Observer\CheckFeedbackObserver">
        <arguments>
            <argument name="dataObject" xsi:type="object">BoundsoffBrandNewsFeedbackData</argument>
        </arguments>
    </type>
    <virtualType name="BoundsoffBrandNewsFeedbackData" type="\Magento\Framework\DataObject">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="newsletter" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Stay up to date with Boundsoff</item>
                    <item name="description" xsi:type="string" translatable="true">
                        Get real-time admin panel notifications on Boundsoff development progress,
                        including new module updates, tech tips, performance enhancements,
                        and essential fixes to keep your store running smoothly.
                    </item>
                    <item name="url" xsi:type="string">https://boundsoff.com/#newsletter</item>
                    <item name="timeout" xsi:type="string">+3 days</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
