<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_sales_order_index">
        <observer name="boundsoff_brandnews_check_for_feedback"
                  instance="\Boundsoff\BrandNews\Observer\CheckFeedbackObserver"/>
    </event>
</config>
